{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css" />
  </head>
  <body>
    <!-- Nav menu goes here -->
    <div class="header">
      <h1 id="company_name">Straight Line Painting</h1>
      <img src="#" alt="logo or primary image">
    </div>
    <div class="navMenu">
      <ul>
        <li><a href="{% url 'home:home' %}" title="Home" >Home</a></li>
        <li><a href="{% url 'home:contactform' %}" title="Contact" >Contact</a></li>
        <li><a href="{% url 'review:review_list' %}" title="Comments" >Reviews</a></li>
        <li><a href="{% url 'review:submitReview' %}" title="SubmiteReview">Submit Review</a></li>
      </ul>
    </div>
    <div>
      {% block content %}

      {% endblock %}
    </div>
  </body>
</html>
